body {
    
}

* {
    box-sizing: border-box;
}

.main-grid-row {
    position: relative;
}

.frame {
    position: relative;
    padding-top: 12%;

    .frame-overlay {
        border: 4px solid transparent;
        opacity: 0;
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
        height: 100%;

        &:hover {
            opacity: 0.8;
            border-color: olive;
        }

        .btn-submit {
            position: absolute;
            right: 0;
            top: 0;
        }

        .btn-detail {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}