@import "ember-bootstrap/bootstrap";

// Theme #2
$theme-colors: (
    "primary": #043540,
    "secondary": #0d0d0d,
    "third": #1f6373,
    "fourth": #6d96a6,
    "fifth": #bacbd9,
    "white": #fff,
    "black": #222,
    "success": #4bb543,
    "danger": #ff0000,
    "warning": #fa7500,
    "green": #00ff00,
    "grey": #bacbd9,
);

body {
    overflow: hidden;
    background-color: map-get($map: $theme-colors, $key: "primary");
}
* {
    box-sizing: border-box;
    color: #fff;
}

.panel-title {
    color: #fff;
    text-align: center;
}

.alert {
    * {
        color: #000;
    }
}

.main-panel {
}
.main-grid {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    align-content: flex-start;
    &.SOM_display {
        .frame {
            width: 12.5%;
            flex: 0 0 12.5%;
            max-width: 12.5%;
            height: calc(100% / 8);
        }
    }
}

.frame {
    cursor: pointer;
    position: relative;
    height: calc(100% / 7);
    min-height: 1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.liked {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 12px solid map-get($map: $theme-colors, $key: "success");
            left: 0;
            top: 0;
            // width: 60px;
            // height: 60px;
            // background-image: url("/assets/img/flag_green.png");
            // background-size: 80px;
            // background-position: center;
            // border-right: 30px solid transparent;
            // border-bottom: 30px solid transparent;
            // border-top: 30px solid map-get($theme-colors, "success");
            // border-left: 30px solid map-get($theme-colors, "success");
            // border-color: transparent;
            // left: 0;
            // top: 0;
        }
    }

    .btn {
        font-size: 1rem;
        padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    }

    .btn-knn {
        position: absolute;
        bottom: 0;
    }

    &.highlighted {
        .frame-overlay {
            border-color: map-get($theme-colors, "danger");
        }
    }

    .frame-overlay {
        border: 4px solid transparent;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        & > * {
            opacity: 0;
        }

        &:hover {
            border-color: olive;
            > * {
                opacity: 0.8;
            }
        }

        .btn-submit {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.1rem 0.2rem;
        }
        .btn-bookmark {
            position: absolute;
            left: 0;
            bottom: 30%;
            padding: 0.1rem 0.2rem;
        }

        .btn-detail {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.autocomplete {
    position: relative;
}

.text-suggestions-list {
    margin: 0;
    padding: 0;
    background: map-get($theme-colors, "fourth");
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1001;
    .text-suggestions-item {
        padding: 0.3rem 1rem 0.3rem 1rem;

        &.selected {
            background: rgba(map-get($theme-colors, "secondary"), 0.6);
        }
        &:hover {
            background: rgba(map-get($theme-colors, "secondary"), 0.3);
            cursor: pointer;
        }
    }
}

.modal-dialog {
    max-width: 75vw;
}

.modal-content {
    border: none;
    background-color: rgba(map-get($theme-colors, "secondary"), 0.8);
}

.modal.fade .modal-dialog {
    transition: none;
    transform: translate(0, -50px);
}

.modal-lg,
.modal-xl {
    max-width: 75%;
}

.compact-code {
    max-height: 300px;
    overflow: auto;
    background-color: map-get($map: $theme-colors, $key: "primary");
    color: #fff;
}

.replay-window {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    background: map-get($theme-colors, "primary");
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    max-width: 100%;
    visibility: hidden;
    &.visible {
        visibility: visible;
    }

    .slider-row {
        font-size: 0;
        height: 100%;
        width: max-content;
        padding: 1rem 0 1rem 0;
        .frame {
            width: 200px;
            height: 112px;
            display: inline-block;
            max-width: none;
        }
    }
}

.custom-modal-window {
    position: absolute;
    width: max-content;
    height: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: map-get($theme-colors, "third");
}

.slider-row {
    display: table;
    font-size: 0;
    width: 100%;
    .frame {
        display: inline-block;
    }
}

.detail-window-modal {
    z-index: -1;
    opacity: 0;
    &.visible {
        opacity: 1;
        z-index: 20;
    }
    padding: 2em;
}

#detailWindow {
    padding: 0;

    overflow-y: scroll;

    #detailWindowSlider {
        background-color: map-get($theme-colors, "fifth");
        display: relative;
    }
}

.section.notifications {
}

.toast {
    opacity: 1;

    &.success {
        background-color: map-get($map: $theme-colors, $key: "success");
    }

    &.warning {
        background-color: map-get($map: $theme-colors, $key: "warning");
    }

    &.error {
        background-color: map-get($map: $theme-colors, $key: "danger");
    }

    .toast-header {
        background: transparent;
        p {
            color: #fff;
            font-size: 1.5em;
            margin: 0;
            text-align: center;
        }
    }
    .toast-body {
        background: rgba(#fff, 0.5);
    }
}

.notifications {
    position: absolute;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 2rem;
    & > * {
        pointer-events: initial;
        z-index: 100;
    }
}
.global-notifications-cont {
    position: relative;
    float: right;
    & > .toast {
        display: block;
    }
}

.blocking-notification-cont {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100000;
    left: 0;
    top: 0;
    background: rgba(map-get($map: $theme-colors, $key: "secondary"), 0.3);
    .blocking-notification {
        background: rgba(map-get($map: $theme-colors, $key: "secondary"), 1);
        width: 100vw;
        max-width: 100vw;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 0;
        text-align: center;
        padding: 2rem 1rem 2.2rem 1rem;
        .toast-header {
            text-align: center;
            color: rgba(map-get($map: $theme-colors, $key: "white"), 1);
            display: block;
            font-size: 3rem;
        }
        .toast-body {
            background: rgba(map-get($map: $theme-colors, $key: "primary"), 0.7);
            font-size: 1.4rem;
        }
    }
    .unstuck-panel {
        position: absolute;
        left: 0;
        bottom: 0;
        .stuck-msg {
            display: block;
            font-size: 0.6rem;
        }
        .btn {
            font-size: 0.6rem;
            padding: 0.1rem 0.2rem;
            text-transform: uppercase;
        }
    }
}

.custom-modal {
    display: none;
    background: rgba(map-get($map: $theme-colors, $key: "primary"), 0.7);
}

.display-block {
    display: block !important;
}

.buttons-panel {
    &.bottom {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.history-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    max-height: 10rem;
    overflow: auto;

    .history-item {
        width: calc(20% - 0.2rem);
        min-width: 50px;
        min-height: 30px;
        display: inline-block;
        vertical-align: top;
        padding: 0rem 0rem;
        position: relative;
        background: theme-color-level($color-name: "black", $level: 0);
        margin-right: 0.2rem;
        margin-bottom: 0.4rem;
        border: 3px solid transparent;
        transition: 0.1s ease-in-out;
        cursor: pointer;

        &.active {
            border: 3px solid theme-color-level($color-name: "danger", $level: 0);
            img {
                opacity: 1 !important;
            }
        }
        img {
            display: block;
            width: 100%;
            max-height: 60px;
            opacity: 0.3;
            transition: 0.2s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: theme-color-level($color-name: "green", $level: 0);
            pointer-events: none;
            display: none;
        }
        .time {
            display: block;
            color: theme-color-level($color-name: "white", $level: 0);
            font-size: 0.8rem;
            width: 100%;
            text-align: center;
        }
    }
}

.panel-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 1em 0em 1em;
    &.visible {
        display: block;
    }

    &:before,
    &:after {
        border: 1px solid rgba(map-get($theme-colors, "white"), 0.7);
        content: "";
        position: relative;
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    &:before {
        width: 80%;
        border: 2px solid rgba(map-get($theme-colors, "fifth"), 0.7);
        top: -0.2rem;
    }

    &:after {
        width: 45%;
        border: 1px solid rgba(map-get($theme-colors, "white"), 0.7);
        bottom: -0.2rem;
    }
    &.small {
        font-size: 1.2rem;
        text-align: left;

        &:before,
        &:after {
            display: none;
        }
    }
}

.bookmarks-list,
.likes-list {
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;
    .frame {
        width: 80px;
        height: 45px;
        display: inline-block;
        max-width: 100%;
        &.liked {
            &:before {
                display: none;
            }
        }
        .btn {
            padding: 0.1rem 0.2rem;
            font-size: 0.5em;
        }
    }
}

.query-canvas-connector-cont {
    font-size: 0.6rem;
    padding: 0 0 0 0;
    position: relative;
    // height: 0;
    display: block;
    margin: 0 0 0 0;
    .query-canvas-connector {
        position: absolute;
        bottom: -13px;
        right: 0;
    }
}

/** COLLAGE UI **/
.delete {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 2;
    background-color: rgba(map-get($map: $theme-colors, $key: "danger"), 1);
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    border-radius: 60%;
    opacity: 0.8;
    color: rgba(map-get($map: $theme-colors, $key: "white"), 1);
    font-size: 18px;
    width: 16px;
    height: 16px;
    line-height: 3px;
    transition: 0.2s ease-in-out;
    &:hover,
    &:active {
        opacity: 1;
    }
}

.ui-icon {
    width: 12px;
    height: 12px;
}

.collage-canvas {
    background-color: rgba(map-get($map: $theme-colors, $key: "grey"), 1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border: 4px solid rgba(map-get($map: $theme-colors, $key: "third"), 1);
    &.paste-active {
        border: 4px solid rgba(map-get($map: $theme-colors, $key: "warning"), 1);
    }
    .autocomplete {
        min-width: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        width: auto;
        input {
            font-size: 10px;
            padding: 2px 2px;
            height: auto;
            min-width: 20px;
            width: 100%;
            text-align: center;
        }
    }
}

.collage-image {
    border-width: 0;
    position: absolute !important;
    width: 20%;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: rgba(map-get($map: $theme-colors, $key: "danger"), 1);
}
.collage-text {
    padding: 10px 10px;
    border: 2px dashed rgba(map-get($map: $theme-colors, $key: "danger"), 1);
    background: transparent;
    min-width: 30px;
    min-height: 30px;
}

.collage-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.img-container {
    float: left;
    width: 24%;
    padding: 5px;
    position: relative;
}

.collage-search .inter-query-text {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 100%;
    width: 100px;
}

.canvas-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 0px;
}

.collage-search {
    margin: auto;
    width: 100%;
}

#collageTemporalQueries {
    max-width: 300px;
    position: relative;
}
.add-collage-text-query {
    padding: 3px 5px 5px 5px;
    line-height: 12px;
}
