@import "ember-bootstrap/bootstrap";

/**
 * Settings
 */

// The main layout
$left-panel-width: 20%;
$left-panel-min-width: 400px;

// Color theme
$theme-colors: (
    "primary": #043540,
    "secondary": #0d0d0d,
    "third": #1f6373,
    "fourth": #6d96a6,
    "fifth": #bacbd9,
    "white": #fff,
    "black": #222,
    "success": #4bb543,
    "danger": #ff0000,
    "warning": #fa7500,
    "green": #00ff00,
    "grey": #bacbd9,
);

body {
    overflow: hidden;
    background-color: map-get($map: $theme-colors, $key: "primary");
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #fff;
}

.alert {
    &.absolute-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
        color: map-get($theme-colors, "black");
    }
}
#mainPanel {
    flex: 0 0 $left-panel-width;
    max-width: $left-panel-width;
    min-width: $left-panel-min-width;
}

#mainWindow {
    flex: 0 0 calc(100% - #{$left-panel-width});
    max-width: calc(100% - #{$left-panel-min-width});
}

.btn {
    border-radius: 0;

    &.btn-primary {
        background-color: lighten(map-get($map: $theme-colors, $key: "primary"), 0%);
        border: 1px solid lighten(map-get($map: $theme-colors, $key: "white"), 0%);

        &:hover {
            background-color: lighten(map-get($map: $theme-colors, $key: "primary"), 10%);
            border: 1px solid lighten(map-get($map: $theme-colors, $key: "primary"), 10%);
        }
    }
    &.btn-secondary {
        background-color: rgba(map-get($map: $theme-colors, $key: "secondary"), 1);
        border: 1px solid rgba(map-get($map: $theme-colors, $key: "white"), 1);

        &:hover {
            background-color: rgba(map-get($map: $theme-colors, $key: "white"), 0.2);
        }
    }
    &.btn-third {
        background-color: map-get($map: $theme-colors, $key: "third");
        border: 1px solid rgba(map-get($map: $theme-colors, $key: "white"), 1);
    }

    &.active {
        background-color: rgba(map-get($map: $theme-colors, $key: "warning"), 1) !important;
        border: 1px solid rgba(map-get($map: $theme-colors, $key: "warning"), 1) !important;
    }
}

.main-grid {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    align-content: flex-start;
    &.SOM_display {
        .frame {
            width: 12.5%;
            flex: 0 0 12.5%;
            max-width: 12.5%;
            height: calc(100% / 8);
        }
    }
}
#mainPanel {
    background-color: map-get($map: $theme-colors, $key: "secondary");
    padding-top: 1em;
}

.likes-panel {
    min-height: 55px;
}

.frame {
    cursor: pointer;
    position: relative;
    height: calc(100% / 7);
    min-height: 1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.empty {
        pointer-events: none;
    }
    &.liked {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 12px solid map-get($map: $theme-colors, $key: "success");
            left: 0;
            top: 0;
            // width: 60px;
            // height: 60px;
            // background-image: url("/assets/img/flag_green.png");
            // background-size: 80px;
            // background-position: center;
            // border-right: 30px solid transparent;
            // border-bottom: 30px solid transparent;
            // border-top: 30px solid map-get($theme-colors, "success");
            // border-left: 30px solid map-get($theme-colors, "success");
            // border-color: transparent;
            // left: 0;
            // top: 0;
        }
    }

    .btn {
        font-size: 1rem;
        padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    }

    .btn-knn {
        position: absolute;
        bottom: 0;
    }

    &.highlighted {
        .frame-overlay {
            border-color: map-get($theme-colors, "danger");
        }
    }

    &.seen {
        opacity: 0.5;
    }

    .frame-overlay {
        border: 4px solid transparent;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        & > * {
            opacity: 0;
        }

        &:hover {
            border-color: olive;
            > * {
                opacity: 0.8;
            }
        }

        .btn-submit {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.1rem 0.2rem;
        }
        .btn-bookmark {
            position: absolute;
            left: 0;
            bottom: 30%;
            padding: 0.1rem 0.2rem;
        }

        .btn-detail {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.query-canvas-panel {
    padding: 0 0 1em 0;
}

.text-divider {
    position: absolute;
    font-size: 1.6rem;
    top: 0;
    left: -11px;
    line-height: 1.5;
    font-weight: 100;

    width: 20px;
    i {
        color: rgba(map-get($theme-colors, "warning"), 1);
    }
    &.canvas {
        top: 3px;
        left: inherit;
        transform: rotate(45deg);
        right: 7%;
        font-size: 1.8rem;
    }
}
.text-search-panel {
    font-size: 0;
    .autocomplete {
        input {
            border-radius: 0;
        }
    }
}

.relocation-panel {
    font-size: 0;
}

div.canvas-wrapper:nth-child(1) {
    z-index: 100;
}

div.canvas-wrapper:nth-child(2) {
    z-index: 99;
}

.text-suggestions-list {
    font-size: 1rem;
    min-width: 300px;
    margin: 0;
    padding: 0;
    background: darken(map-get($theme-colors, "fourth"), 80%);
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;

    z-index: 1001;
    .text-suggestions-item {
        padding: 0rem 1rem 0.3rem 1rem;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.4;

        &.selected {
            background: rgba(map-get($theme-colors, "warning"), 1) !important;
        }
        &:hover {
            background: rgba(map-get($theme-colors, "warning"), 0.7);
            cursor: pointer;
        }
    }
}

.modal-dialog {
    max-width: 80vw;
}

.modal-content {
    border: none;
    background-color: rgba(map-get($theme-colors, "secondary"), 0.8);
}

.modal.fade .modal-dialog {
    transition: none;
    transform: translate(0, -50px);
}

.modal-lg,
.modal-xl {
    max-width: 75%;
}

.compact-code {
    max-height: 300px;
    overflow: auto;
    background-color: map-get($map: $theme-colors, $key: "primary");
    color: #fff;
}

.replay-window {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    background: map-get($theme-colors, "primary");
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    max-width: 100%;
    visibility: hidden;
    &.visible {
        visibility: visible;
    }

    .slider-row {
        font-size: 0;
        height: 100%;
        width: max-content;
        padding: 1rem 0 1rem 0;
        .frame {
            width: 200px;
            height: 112px;
            display: inline-block;
            max-width: none;
        }
    }
}

.custom-modal-window {
    position: absolute;
    width: max-content;
    height: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: map-get($theme-colors, "third");
}

.slider-row {
    display: table;
    font-size: 0;
    width: 100%;
    .frame {
        display: inline-block;
    }
}

#replayWindow {
    z-index: 201;
}

.detail-window-modal {
    z-index: -1;
    opacity: 0;
    &.visible {
        opacity: 1;
        z-index: 200;
    }
    padding: 2em;
}

.relocation-window-modal {
    z-index: -1;
    opacity: 0;
    &.visible {
        opacity: 1;
        z-index: 150;
    }
    padding: 2em;
}

#detailWindow {
    padding: 0;

    overflow-y: scroll;

    #detailWindowSlider {
        background-color: map-get($theme-colors, "fifth");
        position: relative;
    }
}

.section.notifications {
}

.toast {
    opacity: 1;

    &.success {
        background-color: map-get($map: $theme-colors, $key: "success");
    }

    &.warning {
        background-color: map-get($map: $theme-colors, $key: "warning");
    }

    &.error {
        background-color: map-get($map: $theme-colors, $key: "danger");
    }

    .toast-header {
        background: transparent;
        p {
            color: #fff;
            font-size: 1.5em;
            margin: 0;
            text-align: center;
        }
    }
    .toast-body {
        background: rgba(#fff, 0.5);
    }
}

.notifications {
    position: absolute;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 2rem;
    & > * {
        pointer-events: initial;
        z-index: 100;
    }
}
.global-notifications-cont {
    position: relative;
    float: right;
    & > .toast {
        display: block;
    }
}

.blocking-notification-cont {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100000;
    left: 0;
    top: 0;
    background: rgba(map-get($map: $theme-colors, $key: "secondary"), 0.3);
    .blocking-notification {
        background: rgba(map-get($map: $theme-colors, $key: "secondary"), 1);
        width: 100vw;
        max-width: 100vw;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 0;
        text-align: center;
        padding: 2rem 1rem 2.2rem 1rem;
        .toast-header {
            text-align: center;
            color: rgba(map-get($map: $theme-colors, $key: "white"), 1);
            display: block;
            font-size: 3rem;
        }
        .toast-body {
            background: rgba(map-get($map: $theme-colors, $key: "primary"), 0.7);
            font-size: 1.4rem;
        }
    }
    .unstuck-panel {
        position: absolute;
        left: 0;
        bottom: 0;
        .stuck-msg {
            display: block;
            font-size: 0.6rem;
        }
        .btn {
            font-size: 0.6rem;
            padding: 0.1rem 0.2rem;
            text-transform: uppercase;
        }
    }
}

.custom-modal {
    display: none;
    background: rgba(map-get($map: $theme-colors, $key: "primary"), 0.7);
}

.display-block {
    display: block !important;
}

.buttons-panel {
    &.bottom {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &.top {
        font-size: 0;
        .btn {
            width: calc(50% - 2px);
        }
    }
}

.history-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 130px;
    overflow: auto;
    display: inline-flex;
    flex-wrap: wrap;

    .history-item {
        width: calc(20% - 0.2rem);
        min-width: 50px;
        min-height: 30px;
        display: inline-block;
        vertical-align: top;
        padding: 0rem 0rem;
        position: relative;
        background: theme-color-level($color-name: "black", $level: 0);
        margin-right: 0.2rem;
        margin-bottom: 0.4rem;
        border: 3px solid transparent;
        transition: 0.1s ease-in-out;
        cursor: pointer;

        &.active {
            border: 3px solid theme-color-level($color-name: "danger", $level: 0);
            img {
                opacity: 1 !important;
            }
        }

        img {
            display: block;
            width: 100%;
            max-height: 60px;
            opacity: 0.3;
            transition: 0.2s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
        .title {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            color: theme-color-level($color-name: "white", $level: 0);
            pointer-events: none;
            //display: none;
        }
        .time {
            display: none;
            color: theme-color-level($color-name: "white", $level: 0);
            font-size: 0.6rem;
            padding: 0;
            width: 100%;
            text-align: center;
        }
    }
}

.btn {
    outline: 0 !important;
    box-shadow: none !important;
}

.change-view-btns,
.rescore-btns-const {
    margin: 4px -4px 4px -4px;
    font-size: 0;

    .btn {
        width: calc(33% - 4px);
        line-height: 0.8;
        height: 100%;
        border-radius: 0;
        margin: 2px;
    }
}

.inline-title-cont {
    align-items: center;
    display: flex;
}

.inline-title {
    font-size: 1.2rem;
    padding: 0;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    color: map-get($map: $theme-colors, $key: "fourth");

    &:after {
        content: ":";
    }
}

.panel-title {
    color: map-get($map: $theme-colors, $key: "fourth");
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.2em 0em 0em 0em;
    &.visible {
        display: block;
    }

    &:before,
    &:after {
        position: relative;
        height: 100%;
        content: " -- ";
    }

    &.small:before,
    &.small:after {
        content: "";
    }
}

.relocation-frame,
.bookmarks-list,
.likes-list {
    min-height: 55px;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;
    .frame {
        width: 80px;
        height: 45px;
        display: inline-block;
        max-width: 100%;
        &.liked {
            &:before {
                display: none;
            }
        }
        .btn {
            padding: 0.1rem 0.2rem;
            font-size: 0.5em;
        }
    }
}

.query-canvas-connector-cont {
    font-size: 0.6rem;
    padding: 0 0 0 0;
    position: relative;
    // height: 0;
    display: block;
    margin: 0 0 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

/** COLLAGE UI **/
.delete {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    border-radius: 60%;
    opacity: 0.8;
    color: white;
    font-size: 21px;
    width: 18px;
    height: 18px;
    line-height: 7px;
    transition: 0.2s ease-in-out;
    z-index: 99;
    &:hover,
    &:active {
        opacity: 1;
    }
}

.ui-icon {
    width: 12px;
    height: 12px;
    z-index: 0 !important;
}

.img-container {
    float: left;
    width: 24%;
    padding: 5px;
    position: relative;
}

.collage-search .inter-query-text {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 100%;
    width: 100px;
}

.collage-search {
    margin: auto;
    width: 100%;
}

.add-collage-text-query {
    padding: 10px 11px 10px 11px;
    line-height: 12px;
    bottom: 0;
    position: absolute;
    font-size: 2rem;
}

.target-grid {
    min-height: 50vh;
    height: 100vh;
}

.collector-window-modal {
    background: transparent;
    pointer-events: none;
}
.collector-window {
    left: 20vw;
    top: 0;
    right: 0;
    width: calc(80vw);
    margin: 0;
    padding: 0;

    .modal-content {
        background: black;
    }
}

.target-grid {
    .frame {
    }
}

#collageTemporalQueries {
    width: 100%;
    position: relative;
    min-height: 210px;
}

.collage-canvas {
    background-color: rgba(map-get($map: $theme-colors, $key: "grey"), 1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //position: absolute;
    border: 4px solid rgba(map-get($map: $theme-colors, $key: "third"), 1);
    &.paste-active {
        border: 4px solid rgba(map-get($map: $theme-colors, $key: "warning"), 1);
    }
    .autocomplete {
        min-width: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        width: auto;
        input {
            font-size: 10px;
            padding: 2px 2px;
            height: auto;
            min-width: 20px;
            width: 100%;
            text-align: center;
        }
    }
}

.canvas-query {
    border-width: 0;
    position: absolute !important;
    width: 20%;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: rgba(map-get($map: $theme-colors, $key: "danger"), 1);
    img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &.text {
        padding: 10px 10px;
        border: 2px dashed rgba(map-get($map: $theme-colors, $key: "danger"), 1);
        background: transparent;
        min-width: 30px;
        min-height: 30px;
        z-index: 2;
    }
    &.bitmap {
    }
}

.canvas-wrapper {
    position: absolute;
    //padding-bottom: 56.25%;
    margin-bottom: 0px;
    width: 300px;
    height: calc(300px * 0.55);
    &.canvasQuery_1 {
        right: 0;
        bottom: 0;
    }
    &.active {
        z-index: 101;
    }
}

.second-canvas {
    position: absolute;
}

.rescore-btns-const hr {
    display: none;
}

.relocation-panel {
    height: 0;
}

.relocation-btn-cont {
    text-align: left;
    padding: 0 !important;
    margin: 0 !important;
}

.relocation-btn-cont.right {
    text-align: right;
}

.relocation-frame .frame-overlay {
    display: none !important;
}

.filters-panel {
    padding: 0.7rem 0 0.1rem 0;

    .inline-title-cont {
        padding-left: 1.1rem;
    }
}

.dataset-filters-cont {
    label {
        color: map-get($map: $theme-colors, $key: "fourth");
        padding: 0;
        margin: 0;
        display: block;
    }
}
.lsc-filters-cont {
    label {
        color: map-get($map: $theme-colors, $key: "fourth");
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    input {
        margin-right: 0.2rem;
        margin-left: 0.2rem;
    }
    .lsc-filters-hours {
        width: 3.5rem;
    } 
    .lsc-filters-years {
        width: 4rem;
    }
}

.bookmarks-panel {
    margin-top: 1rem;
}

.form-control {
    &.mdb-autocomplete {
        height: auto;
        padding: 0.3rem 0.5rem;
    }
}

.frame-overlay .btn.btn-primary {
    border: none !important;
}

.keyword-example-frames-list {
    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    .example-frame {
        display: inline-flex;
        max-width: 100px;
        img {
            width: 100%;
        }
    }
}

.meta-data-cont {
    display: none;
    color: #fff;
    background: rgba(#000, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 4px;
    line-height: 1.2;

    .video-ID {
        font-weight: 900;
    }

    .shot-ID {
        color: darken(#fff, 20%);
        font-weight: 500;
    }

    .frame-ID {
        color: darken(#fff, 40%);
        font-weight: 100;
    }
}

#mainGrid .meta-data-cont {
    display: block;
}


.zoom-window-modal {
    display: none;

    &.visible {
        display: block;
    }
}

.btn-zoom {
    position: absolute;
    left: 0;
    top: 20%;
}
@import "ember-bootstrap/bootstrap";
