<div class="bookmarks-panel container fluid panel">
    <div class="row">
        <div class="inline-title-cont col-4 p-0">
            <h1 class="inline-title"> Bookmarks</h1>
        </div>
        <div class="col-8">

            <ul class="bookmarks-list"
                {{did-update this.didUpdateAttrs @frames}}
            >
                
                {{#if this.items}}

                    {{#each this.items as |item|}}
                        <Frame @frame={{item}} @forceVisible={{true}} />    
                    {{/each}}                    

                {{/if}}

            </ul>
        </div>
    </div>
</div>