
<section class="query-canvas-panel">
    <div className="collage-search small-12 cell {{if this.visible "none" }} ">
        <div id="collageTemporalQueries">
            
            <QueryCanvas @index=0 />
            <div class="query-canvas-connector-cont">
                <a class="btn btn-success add-collage-text-query">+</a>
                <p class="query-canvas-connector">...and then...</p>
            </div>
            <QueryCanvas @index=1 />
        </div>
    </div>

    <script>
        let collage_temporal_queries;
        let collage_canvases;

        function deleteElementByUid(uid) {
            var elem = document.getElementById(uid);
            elem.remove();
        }

        /**
         * Call the "resizable" & "dragable" functionality on the p rovided elements.
         */
        function draggableAndResizable(elements, containment) {
            elements.draggable({
                containment: containment
            });
            elements.resizable({
                containment: containment,
                aspectRatio: false,
            });
        }
        
        function collageImageElement(uid, src) {
            return $(
                `<div id="${uid}" class="collage-image bitmap ui-widget-content">
                    <span class="delete" onclick="deleteElementByUid($(this).closest('div').attr('id'))">&times;</span>
                    <img src="${src}">
                </div>`
            );
        }

        function createTextQueryElement(uid) {
            
            return $(
                `<div id="${uid}" class="collage-text collage-image ui-widget-content">
                    <span class="delete" onclick="deleteElementByUid($(this).closest('div').attr('id'))">&times;</span>
                    <div class="text autocomplete md-form">
                        <input 
                            class="canvas-text-input form-control mdb-autocomplete" 
                            type="search" 
                        />
                    </div>
                </div>`
            );
        }

        $(document).ready(function() {
            collage_temporal_queries = $("#collageTemporalQueries");
            collage_canvases = $(".collage-canvas")
            var available_id = 0;
        
        
            $(document).on('paste', function (event) {
                const active_canvas = $(".paste-active");
                // use event.originalEvent.clipboard for newer chrome versions
                var items = (event.clipboardData || event.originalEvent.clipboardData).items;
                // find pasted image among pasted items
                var blob = null;
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") === 0) {
                        blob = items[i].getAsFile();
                    }
                }
                // load image if there is a pasted image
                if (blob !== null) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        const encoded_image = event.target.result;
                        const collage_image = collageImageElement("image_" + available_id, encoded_image);
                        draggableAndResizable(collage_image, active_canvas);
                        active_canvas.append(collage_image);
                        available_id++;
                    };
                    reader.readAsDataURL(blob);
                }
            });

            $(".add-collage-text-query").on('click', function (event) {
                const active_canvas = $(".paste-active");

                if (!active_canvas) return;

                const collage_image = createTextQueryElement("image_" + available_id);
                draggableAndResizable(collage_image, active_canvas);
                active_canvas.append(collage_image);
                available_id++;

            });

            
        });
    
    </script>

</section>
