<div class="filters-panel container-fluid col-12">
    <div class="row">

        <div class="inline-title-cont col-6">
            <h4 class="inline-title" tooltip="What parts of the dataset will be searcheble for you.">Dataset filter</h4>
        </div>
        <div class="dataset-filters-cont col-6">
            <label for="dataset-part-0">
                <input type="checkbox" id="datasetPart0" name="dataset-part-0" checked />
                Upper half
            </label>

            <label for="horns">
                <input type="checkbox" id="datasetPart1" name="dataset-part-1" checked />
                Lower half
            </label>
        </div>
    </div>
    <div class="row">
        <div class="inline-title-cont col-6">
            <h4 class="inline-title" tooltip="Specify days, hours, etc.">LSC filter</h4>
        </div>
        <div class="col-6">
            <div class="row">
                <p>Days: </p>
                <div class="col">
                    <div class="lsc-filters-cont">
                        <div class="row">
                            {{#each weekdays as |day index|}}
                            <div>
                                <label for="weekday-{{index}}">{{day}}</label>
                                <input id="weekday-{{index}}" type="checkbox" checked />
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Hours: </p>
                <div class="col">
                    <div class="lsc-filters-cont">
                        <div class="row">
                            <div>
                                <input class="lsc-filters-hours" type="number" value="0" min="0" max="24">
                            </div>
                            <div>
                                <p>-</p>
                            </div>
                            <div>
                                <input class="lsc-filters-hours" type="number" value="24" min="0" max="24">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Year: </p>
                <div class="col">
                    <div class="lsc-filters-cont">
                        <div class="row">
                            <div>
                                <input class="lsc-filters-years" type="number" value="2000" min="2000">
                            </div>
                            <div>
                                <p>-</p>
                            </div>
                            <div>
                                <input class="lsc-filters-years" type="number" value="2021" max="2030">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>