{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@protonmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}
 
<div class="likes-panel container fluid panel">
    <div class="row">
        <div class="inline-title-cont col-4 p-0">
            <h2 class="inline-title"> Likes</h2>
        </div>
        <div class="col-8">

            <ul class="likes-list"
                {{did-update this.didUpdateAttrs @frames}}
            >
                
                {{#if this.items}}

                    {{#each this.items as |item|}}
                        {{#if item.src }}
                            <Frame @frame={{item}} @forceVisible={{true}}/>    
                        {{/if}}
                    {{/each}}                    

                {{/if}}

            </ul>
        </div>
    </div>
</div>
