<div class="text-search-panel container-fluid pt-2 pb-2">

    <button class="btn-primary btn" type="button" {{on "click" this.onClickTopScoredBtn}}>Top Scored View</button>
    <button class="btn-primary btn" type="button" {{on "click" this.onClickTopScoredBtn}}>SOM View</button>

</div>