
<div 
    class="{{this.viewType}} main-grid row"
    {{on "scroll" this.onScroll}}    
>

    {{#if this.frames}}
        {{#each this.frames as |frame|}}

            <Frame @frame={{frame}} />    
            
        {{/each}}
    {{/if}}

</div>