


<div id={{this.CS.ELEM_ID_REPLAY_WINDOW}} class="{{if this.windowVisible "visible"}} replay-window">
    <div id={{this.CS.ELEM_ID_REPLAY_WINDOW_SLIDER}} class="slider-row">

        {{#if this.windowVisible}}

            {{#if this.displayedFrames}}
                {{#each this.displayedFrames as |frame|}}
                <Frame @frame={{frame}} />
                {{/each}}
            {{/if}}

        {{/if}}

    </div>
</div>
    