{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@gmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}
 
<div class="custom-modal debug-window-modal modal {{if this.windowVisible " display-block"}}">
    <div class="settings-window modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    {{on "click" this.hideWindow }}>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <hr />

                <button class="btn-secondary btn" type="button" {{on "click" this.login}}>Login to eval server</button>
                <button class="btn-secondary btn" type="button" {{on "click" this.logout}}>Logout from eval server</button>
                

            </div>

        </div>

    </div>
</div>
