
<div class="text-search-panel container-fluid pt-2 pb-2">
    <h2 class="panel-title">Text queries</h2>
    
    <TextAutocomplete @model={{@model}} @id={{0}} />

    <TextAutocomplete @model={{@model}} @id={{1}} />
</div>