{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@gmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}

<div class="text-search-panel container-fluid col-12">
    <div class="row">
        <div class="col-12 p-0">
            <h2 class="panel-title">Text queries</h2>
        </div>
        <div class="col-6 p-0 pr-3">
            <TextAutocomplete @model={{@model}} @id={{0}} />
        </div>
        <div class="col-6 p-0 pl-3">
            <span class="text-divider"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <TextAutocomplete @model={{@model}} @id={{1}} />
        </div>
    </div>
</div>
