<div class="top buttons-panel container-fluid col-12">

    <div class="row">

        <div class="col-12">
            <button type="button" class="btn-submit btn btn-warning"
                {{on "click" this.onHelpBtnClick}}><i class="fa fa-info-circle" aria-hidden="true"></i></button>

            <button type="button" class="btn-submit btn btn-danger"
                {{on "click" this.onResetSearch}}>Reset the search</button>
        </div>
        
    </div>
</div>